<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Desafio DIO - Academia Digital</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

</head>

<body>

	<header th:replace="header :: cabecalho">
		<div>Header</div>
	</header>

	<div class="container">

		<div style="text-align: center; padding: 30px;"><h1>Desafio DIO - Academia Digital</h1></div>
		<img src="logo-inicio.png" alt="Logo DIO" class="img-fluid rounded" style="padding : 60px" />
		
	</div>

	</div>

	<footer th:replace="footer :: rodape">
		<div>Footer</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


	</script>

</body>

</html>