<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Desafio DIO - Academia Digital</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

</head>

<body>

	<header th:replace="header :: cabecalho">
		<div>Header</div>
	</header>

	<div class="container" style="padding: 50px">

		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Data</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${matriculas}">
					<td th:text="${a.id}"></td>
					<td th:text="${a.dataDaMatricula}"></td>
					<td><a class="btn btn-info btn-sm" th:href="@{/web/matriculas/update/{id} (id=${a.id}) }"
							role="button"><span class="oi oi-brush" title="Editar" aria-hidden="true"></span></a> <a
							class="btn btn-info btn-sm" href="" role="button"><span class="oi oi-magnifying-glass"
								title="Visualizar" aria-hidden="true"></span></a>
						<button th:id="${#strings.concat('btn_web/matriculas/delete/', a.id) }" type="button"
							class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
							<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
						</button>
				</tr>

			</tbody>
		</table>

	</div>

	<div th:replace="modal :: modal"></div>

	<footer th:replace="footer :: rodape">
		<div>Footer</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript">

		var url = '';

		$('button[id*="btn_"]').click(function () {
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		});

		$('#ok_confirm').click(function () {
			document.location.href = url;
		});

	</script>

	</script>

</body>

</html>